@import './config';

.book-section {
  background: linear-gradient($color-merino 90%, $color-white 90%);
  margin-bottom: ($bottom-margin * 4.375);

  @media(max-width: $grid-bp) {
    margin-bottom: ($bottom-margin * 2);
  }

  .book-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
  }

  &-kicker {
    color: $color-grain-brown;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
  }

  .book-cover {
    display: flex;
    margin-top: 4rem;
  }

  img {
    max-height: 626px;
  }
}
