@import './config';

.book-section {
	background: linear-gradient($color-merino 90%, $color-white 90%);
	margin-bottom: $bottom-margin;
	
	.book-text {
		display: flex;
		flex-direction: column;
	}

	&-kicker {
		color: $color-grain-brown;
	}

	&-content{
		display: flex;
		flex-wrap: wrap;
	}
	.book-cover{
		display: flex;
		margin-top: 4rem;
	}
	img {
		max-height: 626px;
	}
}