@import './config';

.book-section {
	background-color: $color-merino;
	margin-bottom: $bottom-margin;
	
	&-kicker {
		color: $color-grain-brown;
	}

	&-content{
		display: flex;
	}
	.book-cover{
		display: flex;
	}
	img {
		max-height: 626px;
	}
}