//Grid
$max-width: 1290px;
$columns: 12;
$gutter: 30px;
$grid-bp: 800px;

//Margins
$bottom-margin: 2rem;

//Litir
$color-white: #fff;
$color-alabaster: #fafafa;
$color-linen-white: #f7f1eb;
$color-merino: #f7f1eb;
$color-grain-brown: #e3cdb1;
$color-alto: #d0d0d0;
$color-dusty-gray: #9b9b9b;
$color-scarpa-flow: #5e5b69;
$color-black: #000;
$color-whisper: #eee;
$color-gray-whisper: #E7E7E7;
