//Grid
$max-width: 1290px;
$columns: 12;
$gutter: 30px;
$grid-bp: 800px;

//Margins
$bottom-margin: 2rem;

//Litir
<<<<<<< HEAD
$color-white: #fff;
$color-alabaster: #fafafa;
$color-linen-white: #f7f1eb;
$color-merino: #f7f1eb;
$color-grain-brown: #e3cdb1;
$color-alto: #d0d0d0;
$color-dusty-gray: #9b9b9b;
$color-scarpa-flow: #5e5b69;
$color-black: #000;
$color-whisper: #eee;
=======
$color-white: #FFFFFF;
$color-Alabaster: #FAFAFA;
$color-linen-white: #F7F1EB;
$color-merino: #F7F1EB;
$color-grain-brown: #E3CDB1;
$color-alto: #D0D0D0;
$color-dusty-gray: #9B9B9B;
$color-scarpa-flow: #5E5B69;
$color-black: #000000;
$color-whisper: #EEEEEE;
$color-gray-whisper: #E7E7E7;
>>>>>>> cb2e91e1900d95228a86744c39caf0d674bef076
