//Grid
$max-width: 1290px;
$columns: 12;
$gutter: 30px;

//Margins
$bottom-margin: 2rem;

//Litir
$color-white: #FFFFFF;
$color-Alabaster: #FAFAFA;
$color-linen-white: #F7F1EB;
$color-grain-brown: #E3CDB1;
$color-alto: #D0D0D0;
$color-dusty-gray: #9B9B9B;
$color-scarpa-flow: #5E5B69;
$color-black: #000000;