@import './config';

.hero {
  background-color: $color-alabaster;
  background-image: url('img/pie-bg.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-bottom: $bottom-margin;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 550px;
    width: 100%;
  }

  &-kicker {
    color: $color-grain-brown;
  }

  h1 {
    font-size: 3.75rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-list-item {
    display: flex;
  }

  &-list-item-wrapper {
    display: flex;
  }

  &-list-item-wrapper p:first-child {
    font-weight: 900;
  }
}
