@import './config';

.hero {
	background-image: url('img/pumpkin-pie.png');
	background-repeat: no-repeat;
	background-color: $color-Alabaster;
	height: 800px;
	margin-bottom: $bottom-margin;
	
	&-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

	&-kicker {
		color: $color-grain-brown;
	}
	h1{
		font-size: 3.75rem;
	}
}

