@import './config';

.highlight-recipe {

  background-image: url('img/pumpkin-pie.png');
  background-position: -270% 25%;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  margin-bottom: $bottom-margin;
  width: 100%;
}

.latest-content {
  margin: auto;
  text-align: center;
  width: 100%;
}