@import './config';

.highlight-recipe {

  background-image: url('img/pumpkin-pie.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  
}

.latest-content {
  margin: auto;
  text-align: center;
  width: 100%;
}