@import './styles/config';

.recipe-text {
  margin: 3.6rem 0 11.25rem 0;

  @media(max-width: $grid-bp) {
    margin-bottom: 1.5rem;;
  }
}

.ingredients {

  h2 {
    color: $color-alto;
    font-size: 2.5rem;
    margin-top: 1.7rem;
    margin-bottom: $bottom-margin;
  }

  &-method h2 {
    color: $color-alto;
    font-size: 2.5rem;
    margin-bottom: $bottom-margin;
  }

  p {
    font-weight: 400;
  }

  &-method p {
    color: $color-scarpa-flow;
    margin-bottom: $bottom-margin;
  }

  &-list {
    display: flex;
    flex-direction: column;
    margin-bottom: $bottom-margin;
    
    &-eyebrow {
      margin-bottom: ($bottom-margin / 2);
    }
  }

  &-list-wrapper {
    display: flex;
    align-items: center;

    h3 {
      color: $color-grain-brown;
      font-size: 2rem;
      font-weight: 700;
      margin-right: 3.125rem;
    }

    p {
      color: $color-dusty-gray;
      font-weight: 300;
    }
  }
}
