@import './config';

.latest-recipe {
  background: linear-gradient($color-white 25%, $color-alabaster 25%);
  margin-bottom: $bottom-margin;

  &-eyebrow {
    color: $color-grain-brown;
  }

  &-head {
      font-size: 2.5rem;
      line-height: 3.125rem;
      margin-bottom: $bottom-margin;

      span {
          color:$color-alto;
      }
  }

  @media(max-width: $grid-bp) {

    &-eyebrow {
      font-size: 0.75rem;
      text-align: center;
    }

    &-head {
      font-size: 1.25rem;
      text-align: center;
    }
  }
}


.recipe-box {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: 100%;

  .image {
    overflow: hidden;
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
  }

  .month {
    color: $color-dusty-gray;
  }

  .card-info {
    display: flex;
    justify-content: space-between;

    p:first-child {
      font-family: Playfair Display, serif;
      font-size: 22px;
      font-style: normal;
      font-weight: bold;
    }

    p:last-child {
      color: $color-grain-brown;
    }
  }
}

// stillingar fyrir misstórar myndir

.latest-recipe-container {

  img {
    height: 290px;

  }
}

.contain-height {

  img {
    height: 290px;
  }

  .recipe-box-content {
    margin-bottom: $bottom-margin;
  }

  .month {
    margin: 1.56rem 0 0 1.56rem;
  }

  .card-info {

    :nth-child(1) {
        margin-left: 1.56rem;
    }

    :nth-child(2) {
        margin-right: 1.5rem;
    }
  }
}

.headline {
  letter-spacing: 0px;
  text-align: left;

  h2 {
    font-size: 3.75rem;
    font-weight: 700;
    font-family: Playfair Display;
    font-style: normal;
    color: black;
    line-height: 80px;
  }

  p {
    margin-top: 6.5rem;
    color: #E3CDB1;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

}
.onlyshowvideo{
  color: black;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: right;  
}

