@import './config';

.latest-recipe {
  background: linear-gradient($color-white 25%, $color-alabaster 25%);
  margin-bottom: $bottom-margin;
}

.recipe-box {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: 100%;

  .image {
    overflow: hidden;
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
  }

  .month {
    color: $color-dusty-gray;
  }

  .card-info {
    display: flex;
    justify-content: space-between;

    p:first-child {
      font-family: Playfair Display, serif;
      font-size: 22px;
      font-style: normal;
      font-weight: bold;
    }

    p:last-child {
      color: $color-grain-brown;
    }
  }
}
