nav {
  background: $color-white;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.mobile {
  display: none;
}

.mobile-trigger {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media only screen and (max-width: 800px) {
  header {
    margin-top: 70px;
  }

  .menu-rectangles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
  }

  .rectangle {
    background-color: $color-black;
    border-radius: 100px;
    height: 1px;
    margin-bottom: 10px;
    width: 100%;
  }

  .menu {
    background: $color-white;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .mobile-trigger {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 100;
  }

  .nav {
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    list-style: none;

    &:nth-child(2n) {
      color: lightred;
    }

    &__item {
      display: flex;
      font-family: Playfair Display, serif;
      font-size: 3.75rem;
      font-style: normal;
      font-weight: bold;
      justify-content: center;
      line-height: 5.625rem;
    }
  }

  nav {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: transform 300ms ease-in;
    width: 100%;
    z-index: 1;
  }

  .mobile {
    &:checked {
      ~ {
        nav {
          transform: translateY(54px);
        }
      }

      .mobile-trigger {
        &:before {
          content: 'X';
        }

        .menu-rectangles {
          display: none;
        }
      }
    }
  }
}
