@import './config';

.video {
    color: $color-linen-white;
    width: 100%;
    min-height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $bottom-margin;
    background-color: $color-black;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 56%), url('img/Bitmap.png');
    background-repeat: no-repeat;
    background-position: right;
}

.video .grid {
    width: 100%;
}

.video-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > :nth-child(-n+2) {
        margin-bottom: $bottom-margin;
    }

    & > p {
        font-size: 1.125em;
        line-height: 2em;
    }
}
.video-text-info {
    display: flex;
}

.info-item {
    display: flex;
    margin-right: $gutter*1.5;
    font-size: 1.125em;

    & .image {
        margin-right: 1em;
    }
}


