@import './config';

.hero-video {
    color: $color-linen-white;
    width: 100%;
    min-height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $bottom-margin;
    background-color: $color-black;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 56%), url('img/Bitmap.png');
    background-repeat: no-repeat;
    background-position: right;
}


.video-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;

    .hide-md {
        display: none;
    }

    h1 {
        line-height: 5rem;
        font-size: 3.75rem;
        margin-bottom: 1rem;
    }

    .hide-sm {
        font-size: 1.125rem;
        line-height: 2rem;
    }

    @media (max-width: 799px) {
        align-items: center;

        .hide-md {
            line-height: 1.5rem;
            display: block;
            margin-bottom: $bottom-margin;
        }

        & > h1 {
            font-size: 2rem;
            text-align: center;
        }
    }
}

.video-text-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1rem;

    .info-item {
        display: flex;
        align-items: center;
        margin-right: $gutter*1.5;
    
        & .image {
            max-height: 27px;
            margin-right: 1em;
        }
    
        @media (max-width: 799px) {
            margin-right: 0.5;
            margin-bottom: 0.5rem;
        }
    }
}



.play-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe {
    & h1 {
        font-size: 100px;
    }
}

.video-recipes {

    &-eyebrow {
        color: $color-grain-brown;
    }

    &-head {
        font-size: 2.5rem;
        line-height: 3.125rem;
        margin-bottom: $bottom-margin;

        span {
            color:$color-alto;
        }
    }
    
    .sushi {
        background-image: url('img/sushi-rolls.png');
    }

    .cookie {
        background-image: url('img/cookie-plate.png');
    }

    .pie {
        background-image: url('img/other-pie.png');
        
    }
        

    .image {
        width: 100%;
        height: 230px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;

        .box-icon {
            display: none;
        }

        &:hover {

            &.sushi {
                background: linear-gradient(rgba(227, 205, 177, 0.7),rgba(227, 205, 177, 0.7)), url('img/sushi-rolls.png');
            }

            &.cookie {
                background-image: linear-gradient(rgba(227, 205, 177, 0.7),rgba(227, 205, 177, 0.7)), url('img/cookie-plate.png');
            }

            &.pie {
                background: linear-gradient(rgba(227, 205, 177, 0.7),rgba(227, 205, 177, 0.7)), url('img/other-pie.png');
            }

            .box-icon {
                display: block;
                object-fit: none;
            }
        }
    }

    .month {
        margin: 1.56rem 0 0 1.56rem;
    }

    .card-info {

        :nth-child(1) {
            margin-left: 1.56rem;
        }

        :nth-child(2) {
            margin-right: 1.5rem;
        }
    }

    &-bottom {
        display: flex;
        flex-wrap: none;
        width: 100%;
        margin: 3.125rem 0 6.44rem 0;
    }

    .decorative-line {
        height: 1px;
        background-color: $color-gray-whisper;
    }

    .button-middle {
        display: flex;
        justify-content: center;

        .see-more {
            width: 250px;
        }
    }

}
